body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






.root{
  height: 100vh;
}
.workPlace{
  height: 100%;
  display: flex;
}
.addTask{
  display: none;
}
input{
  border-radius: 7px;
}

textarea{
  border-radius: 7px;
}

.focus:focus {
  box-shadow: 0 4px 3px lightskyblue;
}
